<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Training_FtpOrderExport::menu" title="FTP-ExportOrders" module="Training_FtpOrderExport" sortOrder="10" resource="Magento_Backend::content"/>
        <add id="Training_FtpOrderExport::export" title="Export Orders" module="Training_FtpOrderExport" sortOrder="20" parent="Training_FtpOrderExport::menu" action="export/index/index" resource="Training_FtpOrderExport::export"/>
        <add id="Training_FtpOrderExport::configs" title="Configuration" translate="title" module="Training_FtpOrderExport" sortOrder="40" parent="Training_FtpOrderExport::menu" action="adminhtml/system_config/edit/section/export_import_configuration" resource="Training_FtpOrderExport::menu"/>
    </menu>
</config>